flows.json
[
    {
        "id": "ddeb3b89.ad9748",
        "type": "tab",
        "label": "CAM1-Webcam-ObjDetection-Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e351b1251dfbc2f7",
        "type": "tab",
        "label": "Room1-SensorHUB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bdac0d87c40b4bbf",
        "type": "tab",
        "label": "VMS-Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd44b582.841dd",
        "type": "tab",
        "label": "EX1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "133487408a363c52",
        "type": "group",
        "z": "ddeb3b89.ad9748",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "10fc952c32af47f3",
            "c4c2bbba.d11d18",
            "ddad62a457a66aac",
            "e81d84471eea4547",
            "576036d7a8fadc7e",
            "8e71bb0b094c4a4f",
            "5de03aea2cdba7aa",
            "76ddc3c895f2c1a2",
            "64a1c9eea8a81648",
            "a36956bbf31db39d",
            "e5e585ee49daf687",
            "6046914919d6f24c"
        ],
        "x": 14,
        "y": 499,
        "w": 1132,
        "h": 222
    },
    {
        "id": "221173cd0f9456d8",
        "type": "group",
        "z": "ddeb3b89.ad9748",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "800f274b.6632d8",
            "f0e86e5b.c2eb5",
            "deade4b6.926288",
            "d062ebca.fa31e8",
            "bc8cf8a5.78e498",
            "1491b6df.c56d59",
            "1bfbdc10.aade94",
            "8cd39b6c.1e3608",
            "75fbf592.1bde7c",
            "2936e203.f3245e",
            "3e1bfffc.64667",
            "847c5db6.44f4e",
            "90d9565a.3b5ea8",
            "2be0395e.1879b6",
            "f1fc41c3.1b5d8",
            "63fec0e748def931",
            "0e573484f8a022f9",
            "1827153afc9006bd",
            "f296dabfbb4c3f3b",
            "fb8ba1ce8185f633",
            "c4297cd8dbea3b98",
            "200c4d4d1022a0a1",
            "353686a5dbd50d29",
            "ad683cf3b1c82709",
            "1e40d86f201d0e33"
        ],
        "x": 14,
        "y": -1,
        "w": 972,
        "h": 482
    },
    {
        "id": "80abc5d16045e7ca",
        "type": "group",
        "z": "bdac0d87c40b4bbf",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "937d602db7d2c135",
            "9cd4613972dc679e",
            "74e55c748926830a",
            "fe57fbd394860edd",
            "529a01e7f9cf75a1",
            "0dc08d33ed9e52b1",
            "3c7ed533fa6bcfed",
            "789a7db3d0f14b74",
            "a105ee774dd2eed8",
            "e8c860f70785270e"
        ],
        "x": 14,
        "y": 319,
        "w": 932,
        "h": 222
    },
    {
        "id": "7b39fc278818f569",
        "type": "group",
        "z": "bdac0d87c40b4bbf",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "82bd2374ca73c37c",
            "bfeef5e667edb402",
            "f26f02f906dc3a67",
            "cd3a7f15bd06b334",
            "a949ede7d83c5f71",
            "9cccd120d123e2c5",
            "8061feb80b8bfedd",
            "2615cc32.d5a354",
            "4c9a286215305705",
            "a4716315fa8ef6c2",
            "ecd5a070a3d989c4"
        ],
        "x": 34,
        "y": 19,
        "w": 812,
        "h": 262
    },
    {
        "id": "9ac835691d91a525",
        "type": "ODBC pool",
        "connectionString": "DSN=IBMIDEMO;"
    },
    {
        "id": "95389422.0480c8",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#305def",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#3077ce",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#3e6fda",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#245eb9",
                    "value": "#3e6fda",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#3e6fda",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#7e9fe6",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#245eb9",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#000000",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "VMS IoT on IBM i",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5967b7da.b44598",
        "type": "ui_tab",
        "name": "Video Management System / IBM i (ActiveMQ and AI in action)",
        "icon": "camera",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5ecf1e5d.c16c4",
        "type": "ui_group",
        "name": "Camera #1 (MQTT)",
        "tab": "5967b7da.b44598",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ed33e4c82d4fcac",
        "type": "ui_group",
        "name": "IBM i - Event Detection Hub (ActiveMQ)",
        "tab": "5967b7da.b44598",
        "order": 2,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac59fe1f.451f3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.3.61.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3acd38737e2fb02d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a54677be.62b79",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "632f71ef.c9a91",
        "order": 8,
        "disp": true,
        "width": "11",
        "collapse": false
    },
    {
        "id": "4c2982c.15e91fc",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "632f71ef.c9a91",
        "order": 6,
        "disp": true,
        "width": "11",
        "collapse": false
    },
    {
        "id": "80fcf2f5.7dc2c",
        "type": "ui_group",
        "name": "Chart",
        "tab": "632f71ef.c9a91",
        "order": 7,
        "disp": true,
        "width": "33",
        "collapse": false
    },
    {
        "id": "6bc9a9f0.9ccf58",
        "type": "ui_group",
        "name": "Object Temperature",
        "tab": "632f71ef.c9a91",
        "order": 5,
        "disp": true,
        "width": "11",
        "collapse": false
    },
    {
        "id": "632f71ef.c9a91",
        "type": "ui_tab",
        "name": "IoT sensor",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "ba1ff527abfa5261",
        "type": "ui_group",
        "name": "IBM i - Sensor Data (ActiveMQ)",
        "tab": "5967b7da.b44598",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f6052a3dccc77ea3",
        "type": "ui_group",
        "name": "Machine 2",
        "tab": "632f71ef.c9a91",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e4a72d62ed7564c",
        "type": "ui_group",
        "name": "Machine 3",
        "tab": "632f71ef.c9a91",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fcc4481a9e329266",
        "type": "ui_group",
        "name": "Machine 4",
        "tab": "632f71ef.c9a91",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "64954f1c27064573",
        "type": "ui_spacer",
        "z": "dd44b582.841dd",
        "name": "spacer",
        "group": "80fcf2f5.7dc2c",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "f8f73605d1233c67",
        "type": "ui_spacer",
        "z": "dd44b582.841dd",
        "name": "spacer",
        "group": "80fcf2f5.7dc2c",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "b967e357cd8aafb0",
        "type": "ui_spacer",
        "z": "dd44b582.841dd",
        "name": "spacer",
        "group": "80fcf2f5.7dc2c",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "795ce21d3e17cf3a",
        "type": "ui_spacer",
        "z": "dd44b582.841dd",
        "name": "spacer",
        "group": "80fcf2f5.7dc2c",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "b7a2466ccdded916",
        "type": "ui_spacer",
        "z": "dd44b582.841dd",
        "name": "spacer",
        "group": "80fcf2f5.7dc2c",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "984f18e9077215e0",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "5ecf1e5d.c16c4",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "497b9910ece3cfe1",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "5ecf1e5d.c16c4",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "a1c84e741591b336",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "5ecf1e5d.c16c4",
        "order": 6,
        "width": 5,
        "height": 1
    },
    {
        "id": "42f0406ee83f7846",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "5ecf1e5d.c16c4",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "7549c33506ff8482",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "5ecf1e5d.c16c4",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "d3add09992de5a0c",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "0a29e232aea4cb67",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 3,
        "width": 4,
        "height": 1
    },
    {
        "id": "b5d0730d93c386ca",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "d2b6433d39a2fece",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "659306acbf529d85",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "7e3738ab31148fa4",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "d4df45fc5b68fca5",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "e17c3cb4b16c4018",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "ef194b0f9cb6ac9d",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "16609bb530a8d4f0",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 14,
        "width": 4,
        "height": 1
    },
    {
        "id": "c03b55ceb3bec32c",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "68ad9f9ecdc8834f",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "5a97a913faa7823a",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "a8fd78e3410fe742",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "cd1e9afb9035c0e0",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 21,
        "width": 11,
        "height": 1
    },
    {
        "id": "822b246cdd9ae21e",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "5c79c7fa2aeaa084",
        "type": "ui_spacer",
        "z": "bdac0d87c40b4bbf",
        "name": "spacer",
        "group": "1ed33e4c82d4fcac",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "800f274b.6632d8",
        "type": "ui_webcam",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "group": "5ecf1e5d.c16c4",
        "order": 1,
        "width": 10,
        "height": 5,
        "countdown": false,
        "autoStart": true,
        "hideCaptureButton": true,
        "showImage": "2",
        "mirror": true,
        "format": "jpeg",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "f0e86e5b.c2eb5",
                "deade4b6.926288",
                "2be0395e.1879b6"
            ]
        ]
    },
    {
        "id": "f0e86e5b.c2eb5",
        "type": "debug",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "deade4b6.926288",
        "type": "change",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "'/tmp/webcam_'& $moment().format('YYYY-MM-DD-hhmmss') & '.jpeg'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d062ebca.fa31e8",
        "type": "file",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 840,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "bc8cf8a5.78e498",
        "type": "ui_button",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "group": "5ecf1e5d.c16c4",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Capture CAM#1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-camera fa-2x",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "1491b6df.c56d59"
            ]
        ]
    },
    {
        "id": "1491b6df.c56d59",
        "type": "change",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "msg.capture",
        "rules": [
            {
                "t": "set",
                "p": "capture",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "800f274b.6632d8",
                "f0e86e5b.c2eb5"
            ]
        ]
    },
    {
        "id": "1bfbdc10.aade94",
        "type": "ui_button",
        "z": "ddeb3b89.ad9748",
        "d": true,
        "g": "221173cd0f9456d8",
        "name": "Stop CAM#1",
        "group": "5ecf1e5d.c16c4",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Stop CAM#1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-stop fa-2x",
        "payload": "\"\"",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "c4297cd8dbea3b98"
            ]
        ]
    },
    {
        "id": "8cd39b6c.1e3608",
        "type": "tensorflowCoco",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "modelUrl": "http://localhost:1880/coco/model.json",
        "scoreThreshold": "0.5",
        "passthru": "bbox",
        "lineColour": "red",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "75fbf592.1bde7c",
                "3e1bfffc.64667",
                "63fec0e748def931",
                "76ddc3c895f2c1a2"
            ]
        ]
    },
    {
        "id": "75fbf592.1bde7c",
        "type": "debug",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "2936e203.f3245e",
        "type": "ui_table",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "group": "5ecf1e5d.c16c4",
        "name": "",
        "order": 7,
        "width": 7,
        "height": 2,
        "columns": [
            {
                "field": "class",
                "title": "Detected Object ",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "score",
                "title": "Score",
                "width": "",
                "align": "left",
                "formatter": "progress",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 430,
        "y": 440,
        "wires": [
            [
                "f1fc41c3.1b5d8"
            ]
        ]
    },
    {
        "id": "3e1bfffc.64667",
        "type": "change",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append([],payload.{\"class\":class,\"score\":score*100,\"bbox\":bbox})",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 440,
        "wires": [
            [
                "2936e203.f3245e",
                "200c4d4d1022a0a1"
            ]
        ]
    },
    {
        "id": "847c5db6.44f4e",
        "type": "link in",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "to-webcam",
        "links": [
            "23c88371.85c4bc",
            "70eca315.946a6c",
            "0e573484f8a022f9",
            "1827153afc9006bd"
        ],
        "x": 285,
        "y": 220,
        "wires": [
            [
                "800f274b.6632d8"
            ]
        ]
    },
    {
        "id": "90d9565a.3b5ea8",
        "type": "annotate-image",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "fill": "",
        "stroke": "#9363b7",
        "lineWidth": 5,
        "fontSize": 24,
        "fontColor": "#ffC000",
        "x": 800,
        "y": 440,
        "wires": [
            [
                "1827153afc9006bd"
            ]
        ]
    },
    {
        "id": "2be0395e.1879b6",
        "type": "change",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "image",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 320,
        "wires": [
            [
                "ad683cf3b1c82709"
            ]
        ]
    },
    {
        "id": "f1fc41c3.1b5d8",
        "type": "change",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "annotations",
                "pt": "msg",
                "to": "$append([],payload.{\"label\": class, \"bbox\": bbox})",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "image",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 440,
        "wires": [
            [
                "90d9565a.3b5ea8"
            ]
        ]
    },
    {
        "id": "63fec0e748def931",
        "type": "change",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "image",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 320,
        "wires": [
            [
                "0e573484f8a022f9"
            ]
        ]
    },
    {
        "id": "0e573484f8a022f9",
        "type": "link out",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "annotated-image-output",
        "links": [
            "847c5db6.44f4e"
        ],
        "x": 835,
        "y": 320,
        "wires": []
    },
    {
        "id": "1827153afc9006bd",
        "type": "link out",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "annotated-image-output",
        "links": [
            "847c5db6.44f4e"
        ],
        "x": 945,
        "y": 440,
        "wires": []
    },
    {
        "id": "f296dabfbb4c3f3b",
        "type": "inject",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "payload",
        "payloadType": "msg",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "1491b6df.c56d59"
            ]
        ]
    },
    {
        "id": "5de03aea2cdba7aa",
        "type": "comment",
        "z": "ddeb3b89.ad9748",
        "g": "133487408a363c52",
        "name": "CAMERA#1 Detection Processing / MQTT publish to ActiveMQ",
        "info": "",
        "x": 270,
        "y": 580,
        "wires": []
    },
    {
        "id": "76ddc3c895f2c1a2",
        "type": "function",
        "z": "ddeb3b89.ad9748",
        "g": "133487408a363c52",
        "name": "isObjectDetected",
        "func": "let personDetected = false;\n\nfor (let object of msg.payload) {\n    if (object.class === 'person') {\n       // node.log(\"info\"+object.class);\n        personDetected = true;\n        break;\n    }\n}\nmsg.topic = personDetected;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 620,
        "wires": [
            [
                "c4c2bbba.d11d18"
            ]
        ]
    },
    {
        "id": "fb8ba1ce8185f633",
        "type": "comment",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "Refresh webcam display with Bounding Box",
        "info": "",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "c4297cd8dbea3b98",
        "type": "change",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "msg.capture",
        "rules": [
            {
                "t": "set",
                "p": "capture",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "800f274b.6632d8"
            ]
        ]
    },
    {
        "id": "10fc952c32af47f3",
        "type": "mqtt out",
        "z": "ddeb3b89.ad9748",
        "g": "133487408a363c52",
        "name": "",
        "topic": "iot/event/camera1/fmt/json",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac59fe1f.451f3",
        "x": 1000,
        "y": 620,
        "wires": []
    },
    {
        "id": "c4c2bbba.d11d18",
        "type": "switch",
        "z": "ddeb3b89.ad9748",
        "g": "133487408a363c52",
        "name": "Person Detected?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 620,
        "wires": [
            [
                "64a1c9eea8a81648"
            ],
            []
        ]
    },
    {
        "id": "200c4d4d1022a0a1",
        "type": "debug",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 400,
        "wires": []
    },
    {
        "id": "ddad62a457a66aac",
        "type": "change",
        "z": "ddeb3b89.ad9748",
        "g": "133487408a363c52",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "annotations",
                "pt": "msg",
                "to": "$append([],payload.{\"label\": class, \"bbox\": bbox})",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "image",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 680,
        "wires": [
            [
                "e81d84471eea4547"
            ]
        ]
    },
    {
        "id": "e81d84471eea4547",
        "type": "annotate-image",
        "z": "ddeb3b89.ad9748",
        "g": "133487408a363c52",
        "name": "",
        "fill": "",
        "stroke": "#9363b7",
        "lineWidth": 5,
        "fontSize": 24,
        "fontColor": "#ffC000",
        "x": 680,
        "y": 680,
        "wires": [
            [
                "576036d7a8fadc7e"
            ]
        ]
    },
    {
        "id": "576036d7a8fadc7e",
        "type": "mqtt out",
        "z": "ddeb3b89.ad9748",
        "g": "133487408a363c52",
        "name": "",
        "topic": "iot/imgdetection/camera1/fmt/jpeg",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac59fe1f.451f3",
        "x": 940,
        "y": 680,
        "wires": []
    },
    {
        "id": "8e71bb0b094c4a4f",
        "type": "function",
        "z": "ddeb3b89.ad9748",
        "g": "133487408a363c52",
        "name": "Set Timestamp and #Cam",
        "func": "var newMsg = msg;\n//newMsg.payload[0].timestamp = new Date().toString();\n//newMsg.payload[0].camera = \"Camera1\";\n//var data1 = [];\nif (newMsg.payload.length === 0) \n{ node.warn(\"Payload is empty!\");\n    return newMsg;\n  }\n   \nnewMsg.payload.forEach(function (row) {\n    //var example = {};\n    row.camera=\"Camera1\";\n   // row.timestamp = new Date().toString();\n   row.timestamp= new Date();\n    row.score=row.score*100;\n    \n    //data1.push(example);\n});\n\n//msg.payload = data1;\n\n//node.warn(newMsg);\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 620,
        "wires": [
            [
                "ddad62a457a66aac",
                "10fc952c32af47f3"
            ]
        ]
    },
    {
        "id": "353686a5dbd50d29",
        "type": "comment",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "WEBCAM CAMERA #1  Video Processing / Object Detection",
        "info": "",
        "x": 540,
        "y": 40,
        "wires": []
    },
    {
        "id": "64a1c9eea8a81648",
        "type": "function",
        "z": "ddeb3b89.ad9748",
        "g": "133487408a363c52",
        "name": "Sampling",
        "func": "\nvar PrevMsgTS = context.get('PrevMsgTS') || \"\";\nif (PrevMsgTS == \"\") {\n    PrevMsgTS = new Date(null);\n} \n\nvar CurrentMsgTS = Date.now();\n\nvar ElapsedTimeMS=CurrentMsgTS - PrevMsgTS;\nif (ElapsedTimeMS <= 10000) {\n    msg.payload = [];\n} else {\n    context.set(\"PrevMsgTS\", CurrentMsgTS );\n}\n//node.warn(\"PrevMsgTS: \" + PrevMsgTS + \" ; CurrentTS: \" + CurrentMsgTS + \"; Elapsed time (s): \" + ElapsedTimeMS/1000 );\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 560,
        "wires": [
            [
                "a36956bbf31db39d"
            ]
        ]
    },
    {
        "id": "a36956bbf31db39d",
        "type": "switch",
        "z": "ddeb3b89.ad9748",
        "g": "133487408a363c52",
        "name": "Sampling",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 560,
        "wires": [
            [
                "6046914919d6f24c"
            ],
            [
                "8e71bb0b094c4a4f",
                "e5e585ee49daf687"
            ]
        ]
    },
    {
        "id": "e5e585ee49daf687",
        "type": "debug",
        "z": "ddeb3b89.ad9748",
        "g": "133487408a363c52",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 580,
        "wires": []
    },
    {
        "id": "6046914919d6f24c",
        "type": "debug",
        "z": "ddeb3b89.ad9748",
        "g": "133487408a363c52",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 540,
        "wires": []
    },
    {
        "id": "ad683cf3b1c82709",
        "type": "switch",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 280,
        "wires": [
            [],
            [
                "8cd39b6c.1e3608"
            ]
        ]
    },
    {
        "id": "1e40d86f201d0e33",
        "type": "mqtt in",
        "z": "ddeb3b89.ad9748",
        "g": "221173cd0f9456d8",
        "name": "",
        "topic": "myapp/control/take_photoCamera",
        "qos": "2",
        "datatype": "auto",
        "broker": "3acd38737e2fb02d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 60,
        "wires": [
            [
                "1491b6df.c56d59"
            ]
        ]
    },
    {
        "id": "80780894450cfb6d",
        "type": "ui_button",
        "z": "e351b1251dfbc2f7",
        "name": "",
        "group": "ba1ff527abfa5261",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 80,
        "wires": [
            [
                "49e78ff51c3a1ea3"
            ]
        ]
    },
    {
        "id": "1482bcf69325aa92",
        "type": "inject",
        "z": "e351b1251dfbc2f7",
        "name": "",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "49e78ff51c3a1ea3"
            ]
        ]
    },
    {
        "id": "49e78ff51c3a1ea3",
        "type": "random",
        "z": "e351b1251dfbc2f7",
        "name": "",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 240,
        "y": 100,
        "wires": [
            [
                "7bc412b5f3730e2e"
            ]
        ]
    },
    {
        "id": "7bc412b5f3730e2e",
        "type": "mqtt out",
        "z": "e351b1251dfbc2f7",
        "name": "",
        "topic": "iot/sensors/temp/room1/fmt/json",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac59fe1f.451f3",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "937d602db7d2c135",
        "type": "mqtt in",
        "z": "bdac0d87c40b4bbf",
        "g": "80abc5d16045e7ca",
        "name": "",
        "topic": "iot/imgdetection/+/fmt/jpeg",
        "qos": "2",
        "datatype": "auto",
        "broker": "ac59fe1f.451f3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 280,
        "y": 420,
        "wires": [
            [
                "fe57fbd394860edd",
                "0dc08d33ed9e52b1",
                "789a7db3d0f14b74",
                "a105ee774dd2eed8"
            ]
        ]
    },
    {
        "id": "9cd4613972dc679e",
        "type": "template",
        "z": "bdac0d87c40b4bbf",
        "g": "80abc5d16045e7ca",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img height=\"320px\" src=\"data:image/jpg;base64,{{{payload}}}\">",
        "output": "str",
        "x": 700,
        "y": 420,
        "wires": [
            [
                "74e55c748926830a"
            ]
        ]
    },
    {
        "id": "74e55c748926830a",
        "type": "ui_template",
        "z": "bdac0d87c40b4bbf",
        "g": "80abc5d16045e7ca",
        "group": "1ed33e4c82d4fcac",
        "name": "",
        "order": 2,
        "width": 11,
        "height": 5,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fe57fbd394860edd",
        "type": "image viewer",
        "z": "bdac0d87c40b4bbf",
        "g": "80abc5d16045e7ca",
        "name": "",
        "width": "140",
        "data": "payload",
        "dataType": "msg",
        "active": false,
        "x": 810,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "529a01e7f9cf75a1",
        "type": "file",
        "z": "bdac0d87c40b4bbf",
        "g": "80abc5d16045e7ca",
        "name": "Write to IFS",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 570,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "0dc08d33ed9e52b1",
        "type": "change",
        "z": "bdac0d87c40b4bbf",
        "g": "80abc5d16045e7ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "'/Users/Benoit2/IBMi-webcam.jpeg'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 500,
        "wires": [
            [
                "529a01e7f9cf75a1"
            ]
        ]
    },
    {
        "id": "3c7ed533fa6bcfed",
        "type": "comment",
        "z": "bdac0d87c40b4bbf",
        "g": "80abc5d16045e7ca",
        "name": "IBM i - Object Detection - Image Dashboard",
        "info": "",
        "x": 210,
        "y": 380,
        "wires": []
    },
    {
        "id": "789a7db3d0f14b74",
        "type": "debug",
        "z": "bdac0d87c40b4bbf",
        "g": "80abc5d16045e7ca",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "a105ee774dd2eed8",
        "type": "base64",
        "z": "bdac0d87c40b4bbf",
        "g": "80abc5d16045e7ca",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 560,
        "y": 420,
        "wires": [
            [
                "9cd4613972dc679e"
            ]
        ]
    },
    {
        "id": "e8c860f70785270e",
        "type": "ui_media",
        "z": "bdac0d87c40b4bbf",
        "g": "80abc5d16045e7ca",
        "group": "1ed33e4c82d4fcac",
        "name": "",
        "width": 5,
        "height": 3,
        "order": 18,
        "category": "Pictures",
        "file": "IBM_i_circle_logo.png",
        "layout": "expand",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 830,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "82bd2374ca73c37c",
        "type": "ui_table",
        "z": "bdac0d87c40b4bbf",
        "g": "7b39fc278818f569",
        "group": "1ed33e4c82d4fcac",
        "name": "",
        "order": 16,
        "width": 9,
        "height": 2,
        "columns": [
            {
                "field": "class",
                "title": "Object Type",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "score",
                "title": "Score",
                "width": "",
                "align": "left",
                "formatter": "progress",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "camera",
                "title": "#WebCAM",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "timestamp",
                "title": "timestamp",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "4c9a286215305705"
            ]
        ]
    },
    {
        "id": "bfeef5e667edb402",
        "type": "mqtt in",
        "z": "bdac0d87c40b4bbf",
        "g": "7b39fc278818f569",
        "name": "",
        "topic": "iot/event/+/fmt/json",
        "qos": "0",
        "datatype": "json",
        "broker": "ac59fe1f.451f3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "82bd2374ca73c37c",
                "cd3a7f15bd06b334",
                "9cccd120d123e2c5"
            ]
        ]
    },
    {
        "id": "f26f02f906dc3a67",
        "type": "comment",
        "z": "bdac0d87c40b4bbf",
        "g": "7b39fc278818f569",
        "name": "IBM i - Event Detection Processing / Persistence",
        "info": "",
        "x": 240,
        "y": 60,
        "wires": []
    },
    {
        "id": "cd3a7f15bd06b334",
        "type": "debug",
        "z": "bdac0d87c40b4bbf",
        "g": "7b39fc278818f569",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "a949ede7d83c5f71",
        "type": "ODBC query",
        "z": "bdac0d87c40b4bbf",
        "g": "7b39fc278818f569",
        "name": "INSERT",
        "connection": "9ac835691d91a525",
        "query": "",
        "parameters": "",
        "outField": "payload",
        "x": 520,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9cccd120d123e2c5",
        "type": "function",
        "z": "bdac0d87c40b4bbf",
        "g": "7b39fc278818f569",
        "name": "Insert Query",
        "func": "//LETS AGREGATE CLASSES WHEN MULTI OBJECT DETECTION\n// SCORE IS THE LOWEST SCORE DETECTED\n\nvar newMsg = msg;\nvar classy=\"\";\nnewMsg.payload.forEach(function (row) {\n    //var example = {};\n    newMsg.payload.camera = row.camera;\n    //node.warn(\"Camera:\" + row.camera);\n    newMsg.payload.timestamp = row.timestamp;\n    newMsg.payload.score= row.score;\n    if (classy == \"\")\n        classy = row.class ;\n     else\n        classy = classy+\"|\"+row.class ; \n})\nnewMsg.payload.class=classy;\n//node.warn(\"newMsg.payload: \" + newMsg.payload.class);\n\nnewMsg.payload.query=\"INSERT INTO VMSAPP.VMSEVENTS(OBJECTTYPE, DETECTION_SCORE, EVENT_TS, EVENT_SRC) values('\"+\nnewMsg.payload.class+\"','\"+\nnewMsg.payload.score+\"',\"+\n    \"TIMESTAMP_FORMAT('\" + newMsg.payload.timestamp.substr(0, newMsg.payload.timestamp.length-1).replace('T',' ')+\"', 'YYYY-MM-DD HH24:MI:SS.FF3')\"\n+\",'\"+\n    newMsg.payload.camera +\"')\";\n\nnode.warn(\"REQUEST: \" + newMsg.payload.query );\n\nreturn newMsg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 180,
        "wires": [
            [
                "a949ede7d83c5f71",
                "cd3a7f15bd06b334"
            ]
        ]
    },
    {
        "id": "8061feb80b8bfedd",
        "type": "debug",
        "z": "bdac0d87c40b4bbf",
        "g": "7b39fc278818f569",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "2615cc32.d5a354",
        "type": "ui_table",
        "z": "bdac0d87c40b4bbf",
        "g": "7b39fc278818f569",
        "group": "1ed33e4c82d4fcac",
        "name": "DB2 Events",
        "order": 23,
        "width": 15,
        "height": "4",
        "columns": [
            {
                "field": "ID",
                "title": "Event ID",
                "width": "12%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "OBJECTTYPE",
                "title": "Detection",
                "width": "15%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "DETECTION_SCORE",
                "title": "Score",
                "width": "10%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "EVENT_TS",
                "title": "Time",
                "width": "18%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "EVENT_SRC",
                "title": "Source",
                "width": "13%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "EVENT_LOCATION",
                "title": "Location",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "DISTANCE_M",
                "title": "Distance (m)",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 710,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "4c9a286215305705",
        "type": "ODBC query",
        "z": "bdac0d87c40b4bbf",
        "g": "7b39fc278818f569",
        "name": "READ_ALL",
        "connection": "9ac835691d91a525",
        "query": "SELECT EVT.ID, OBJECTTYPE, DETECTION_SCORE, EVENT_TS, EVENT_SRC, QSYS2.ST_ASTEXT(SENSOR_LOCATION) AS EVENT_LOCATION, \n       QSYS2.ST_ASTEXT(CURRENT_LOCATION) AS REF_LOCATION, ROUND((QSYS2.ST_DISTANCE(CURRENT_LOCATION, SENSOR_LOCATION)),0) AS DISTANCE_M \nFROM VMSAPP.VMSEVENTS EVT,VMSAPP.SENSORS SNS, VMSAPP.REFERENCE_LOCATIONS \nWHERE EVT.EVENT_SRC = SNS.NAME  \nORDER BY EVT.ID DESC\nFETCH FIRST 30 ROWS ONLY",
        "parameters": "",
        "outField": "payload",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "2615cc32.d5a354"
            ]
        ]
    },
    {
        "id": "a4716315fa8ef6c2",
        "type": "inject",
        "z": "bdac0d87c40b4bbf",
        "g": "7b39fc278818f569",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "payload": "payload",
        "payloadType": "msg",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "4c9a286215305705"
            ]
        ]
    },
    {
        "id": "ecd5a070a3d989c4",
        "type": "ui_text",
        "z": "bdac0d87c40b4bbf",
        "g": "7b39fc278818f569",
        "group": "1ed33e4c82d4fcac",
        "order": 22,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Event Records (Db2 for i) ",
        "format": "",
        "layout": "row-left",
        "className": "",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "350ac4fe0341adef",
        "type": "ui_button",
        "z": "bdac0d87c40b4bbf",
        "name": "",
        "group": "1ed33e4c82d4fcac",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Capture CAM#1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-camera fa-2x",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 740,
        "wires": [
            [
                "a6762dde5f047a41"
            ]
        ]
    },
    {
        "id": "f336b61e61e0c6fe",
        "type": "ui_button",
        "z": "bdac0d87c40b4bbf",
        "name": "",
        "group": "1ed33e4c82d4fcac",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Capture CAM#2 (Rasp)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-camera fa-2x",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 800,
        "wires": [
            [
                "e882e002e2d982d5"
            ]
        ]
    },
    {
        "id": "a6762dde5f047a41",
        "type": "mqtt out",
        "z": "bdac0d87c40b4bbf",
        "name": "",
        "topic": "myapp/control/take_photoCamera",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3acd38737e2fb02d",
        "x": 480,
        "y": 740,
        "wires": []
    },
    {
        "id": "e882e002e2d982d5",
        "type": "mqtt out",
        "z": "bdac0d87c40b4bbf",
        "name": "",
        "topic": "myapp/control/take_photoCamera1",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3acd38737e2fb02d",
        "x": 500,
        "y": 800,
        "wires": []
    },
    {
        "id": "7c28e45622e028df",
        "type": "ui_button",
        "z": "bdac0d87c40b4bbf",
        "name": "",
        "group": "1ed33e4c82d4fcac",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "RESTART CAM#2 (Rasp)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-camera fa-2x",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 860,
        "wires": [
            [
                "46039b9768bb39b5"
            ]
        ]
    },
    {
        "id": "46039b9768bb39b5",
        "type": "mqtt out",
        "z": "bdac0d87c40b4bbf",
        "name": "",
        "topic": "myapp/control/restart_Camera1",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3acd38737e2fb02d",
        "x": 490,
        "y": 860,
        "wires": []
    },
    {
        "id": "d388b48fcbed93a1",
        "type": "ui_gauge",
        "z": "bdac0d87c40b4bbf",
        "name": "",
        "group": "ba1ff527abfa5261",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Room1",
        "label": "degres",
        "format": "",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 580,
        "wires": []
    },
    {
        "id": "07b44990e5d5b5f6",
        "type": "ui_chart",
        "z": "bdac0d87c40b4bbf",
        "name": "",
        "group": "ba1ff527abfa5261",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature Room1 (vs. time)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "dbe404c49cfed031",
        "type": "mqtt in",
        "z": "bdac0d87c40b4bbf",
        "name": "",
        "topic": "iot/sensors/temp/+/fmt/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac59fe1f.451f3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 600,
        "wires": [
            [
                "d388b48fcbed93a1",
                "07b44990e5d5b5f6"
            ]
        ]
    },
    {
        "id": "529c7b3c.942cb4",
        "type": "debug",
        "z": "dd44b582.841dd",
        "name": "cpustatus",
        "active": true,
        "complete": "false",
        "x": 780,
        "y": 380,
        "wires": []
    },
    {
        "id": "e9e495b9.ae3f08",
        "type": "template",
        "z": "dd44b582.841dd",
        "name": "danger",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "mustache",
        "template": "Temperature ({{payload}}) critical",
        "x": 632,
        "y": 428,
        "wires": [
            [
                "529c7b3c.942cb4"
            ]
        ]
    },
    {
        "id": "340c5d43.4757e2",
        "type": "template",
        "z": "dd44b582.841dd",
        "name": "safe",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "mustache",
        "template": "Temperature({{payload}}) within safe limits",
        "x": 633,
        "y": 334,
        "wires": [
            [
                "529c7b3c.942cb4"
            ]
        ]
    },
    {
        "id": "95094436.859448",
        "type": "switch",
        "z": "dd44b582.841dd",
        "name": "temp thresh",
        "property": "payload",
        "rules": [
            {
                "t": "lte",
                "v": "40"
            },
            {
                "t": "gt",
                "v": "40"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 469,
        "y": 383,
        "wires": [
            [
                "340c5d43.4757e2"
            ],
            [
                "e9e495b9.ae3f08"
            ]
        ]
    },
    {
        "id": "bf9c9383.ac1a8",
        "type": "function",
        "z": "dd44b582.841dd",
        "name": "temp",
        "func": "\nreturn{payload:msg.payload.d.temp};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 282,
        "wires": [
            [
                "93357911.034f48",
                "95094436.859448",
                "2d7d439.148363c",
                "b81aae56.3c6c38"
            ]
        ]
    },
    {
        "id": "93357911.034f48",
        "type": "debug",
        "z": "dd44b582.841dd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "1465f864.c9603",
        "type": "mqtt in",
        "z": "dd44b582.841dd",
        "name": "",
        "topic": "\"iot-2/cmd/sendsensordata/fmt/json\"",
        "qos": "0",
        "datatype": "json",
        "broker": "ac59fe1f.451f3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 282,
        "wires": [
            [
                "bf9c9383.ac1a8",
                "93357911.034f48",
                "ab3c1e92.dc32d",
                "bde7e232.e83fd"
            ]
        ]
    },
    {
        "id": "c415a3f5.15576",
        "type": "inject",
        "z": "dd44b582.841dd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "a361ee67.be2688"
            ]
        ]
    },
    {
        "id": "a361ee67.be2688",
        "type": "function",
        "z": "dd44b582.841dd",
        "name": "",
        "func": "msg.payload = {d:{\"temp\":68,\"humidity\":79,\"objectTemp\":24}};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 120,
        "wires": [
            [
                "5b61075a.e46258"
            ]
        ]
    },
    {
        "id": "5b61075a.e46258",
        "type": "mqtt out",
        "z": "dd44b582.841dd",
        "name": "",
        "topic": "\"iot-2/cmd/sendsensordata/fmt/json\"",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac59fe1f.451f3",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "2d7d439.148363c",
        "type": "ui_gauge",
        "z": "dd44b582.841dd",
        "name": "",
        "group": "a54677be.62b79",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": "-10",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "40",
        "x": 410,
        "y": 480,
        "wires": []
    },
    {
        "id": "ab3c1e92.dc32d",
        "type": "function",
        "z": "dd44b582.841dd",
        "name": "Humidity",
        "func": "return{payload:msg.payload.d.humidity,topic:'Humidity'};",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 560,
        "wires": [
            [
                "52240a4a.34186c",
                "b81aae56.3c6c38"
            ]
        ]
    },
    {
        "id": "bde7e232.e83fd",
        "type": "function",
        "z": "dd44b582.841dd",
        "name": "Object Temperature",
        "func": "return{payload:msg.payload.d.objectTemp,topic:'Object temperature'};",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 680,
        "wires": [
            [
                "b81aae56.3c6c38",
                "c436079a.0a0d18"
            ]
        ]
    },
    {
        "id": "52240a4a.34186c",
        "type": "ui_gauge",
        "z": "dd44b582.841dd",
        "name": "",
        "group": "4c2982c.15e91fc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 420,
        "y": 600,
        "wires": []
    },
    {
        "id": "b81aae56.3c6c38",
        "type": "ui_chart",
        "z": "dd44b582.841dd",
        "name": "",
        "group": "80fcf2f5.7dc2c",
        "order": 1,
        "width": 30,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e9",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 710,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c436079a.0a0d18",
        "type": "ui_gauge",
        "z": "dd44b582.841dd",
        "name": "",
        "group": "6bc9a9f0.9ccf58",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Object Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "80",
        "seg2": "95",
        "x": 450,
        "y": 740,
        "wires": []
    },
    {
        "id": "77269d23.9ef5ec",
        "type": "function",
        "z": "dd44b582.841dd",
        "name": "Test Text Change",
        "func": "\nvar PrevMsg = context.get('PrevMsg') || \"\";\n\nif (msg.payload === PrevMsg) {\n     msg.payload = \" \";\n} else {\n    context.set(\"PrevMsg\", msg.payload);  \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 440,
        "wires": [
            [
                "7e816089.9b95d8"
            ]
        ]
    },
    {
        "id": "7e816089.9b95d8",
        "type": "debug",
        "z": "dd44b582.841dd",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1110,
        "y": 440,
        "wires": []
    }
]