restartFlows-PI.json
[{"id":"51461d53.aeb9e4","type":"inject","z":"a09be5e0.5f6418","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":96,"y":29,"wires":[["213813eb.dec7ec"]]},{"id":"213813eb.dec7ec","type":"function","z":"a09be5e0.5f6418","name":"","func":"msg.headers = {\n    \"Node-RED-Deployment-Type\":\"reload\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":236,"y":29,"wires":[["ac6c6bee.539398"]]},{"id":"ac6c6bee.539398","type":"http request","z":"a09be5e0.5f6418","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","x":376,"y":29,"wires":[["a78b2fda.5874d"]]},{"id":"a78b2fda.5874d","type":"debug","z":"a09be5e0.5f6418","name":"","active":true,"console":"false","complete":"false","x":536,"y":29,"wires":[]}]
